<!doctype html>
<html lang="en">
<head>
    <title>FORUM</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/templates/css/style.css">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="background: #171c22">
<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
        <a class="navbar-brand ms-3 text-white " id="forum" href="/">FORUM</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0"></ul>
            {{ if .User}}
            <form action="/logout" method="get">
                <button class="border-0 signout text-white">Sign Out</button>
            </form>
            {{else}}
            <a href="/signIn" class="text-decoration-none text-white" title="Account">
                <span>Account</span>
            </a>
            {{end}}
        </div>
    </div>
</nav>
<!-- --------------------------------------------------menu------------------------------------------------------------------- -->
<div class="container-fluid">
    <div class="row " id="row">
        {{if .User}}
        <div class="col-2" >
            <div class="img">
                <img class="rounded-circle" id="img" src="/templates/images/profile.jpg" alt="">
            </div>
            <div class="username text-white" id="username">
                <p>{{ .User}}</p>
            </div>
            <div class="myposts py-3">
                <a href="/" class="text-decoration-none text-secondary" >
                    <img src="/templates/images/home.png" alt="">
                    <span>Home</span>
                </a>
            </div>
            <div class="filterCategory py-3">
                <a href="/categoryPost" class="text-decoration-none text-secondary">
                    <img src="/templates/images/category.png" id="categoryImg"  >
                    <span>Categories</span>
                </a>
            </div>
            <div class="filterUsers py-3">
                <a href="/myposts" class="text-decoration-none text-secondary">
                    <img src="/templates/images/user.png" id="myPostImg">
                    <span>My posts</span>
                </a>
            </div>
            <div class="filterLikes py-3">
                <a href="/likedPost" class="text-decoration-none text-secondary">
                    <img src="/templates/images/like.png" id="likeImg">
                    <span>Likes</span>
                </a>
            </div>
            <div class="allposts py-3">
                <a href="/createPost" class="text-decoration-none text-secondary">
                    <img src="/templates/images/createPost.png" alt="">
                    <span>Create Post</span>
                </a>
            </div>
        </div>
        {{end}}
        <div class="col">
            <div class="border-0 rounded my-2"  style="background-color: #242b33;" >
              <div class="user row" style="padding-top: 15px;">
                <div class="userPhoto col-1" style="padding-left: 2%; width: 4%;">
                  <img src="templates/images/user.png" alt="" style="width: 45px;">
                </div>
                <div class="userUsername col-10 px-4">
                  <span style="color: white;">{{ .Post.Author}}</span>
                  <p style="color: white; font-size: 13px;">{{ .Post.CreatedAt}}</p>
                </div>
              </div>
              <div class="printPost" style="padding-left: 20px;">
                <p style="color: white; font-size: 22px; font-weight: bold; ">{{.Post.Title}}</p>
                <p style="color: white">{{.Post.Text}}</p>
              </div>
              <hr style="border-top: 10px solid #313840;">
              <div class="" style="padding-bottom: 10px; ">
                {{range .Comments}}
                    <div class="text-white mx-3 m-2" style="display:flex;">
                        <img src="templates/images/user.png" alt="" style="width: 40px; height: 40px;padding-top: 5px;">
                        <div class="ms-2">
                            <span>{{.Author}}:</span>
                            <p  style="font-size: 12px;">{{.CreatedAt}}:</p>
                        </div>   
                    </div>
                    <div class="mx-3 p-2 text-white rounded d-flex" style="border: 2px solid #313840; align-items: center;">
                        {{.Comment}}
                        <div class="d-flex ms-auto">
                            <form action="/likeComment" method="post">
                                <button class="btn btn-outline-secondary mx-2" value="{{.Id}}"  name="commentId" style="border-color:#313840 ; color: aliceblue;" type="submit" >
                                    <img src="templates/images/like.png">
                                    <span style="padding-left: 5px;">{{.Like}}</span>
                                </button>
                            </form>
                            <form action="/dislikeComment" method="post">
                                <button class="btn btn-outline-secondary" value="{{.Id}}"  name="commentId" style="border-color:#313840 ; color: aliceblue;" type="submit" >
                                    <img src="templates/images/dislike.png">
                                    <span style="padding-left: 5px;">{{.Dislike}}</span>
                                </button>
                            </form>
                        </div>
                    </div>
                {{end}}
            </div>
              </div>
            </div>
        </div>
     </div>
</div>

<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>